* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input {
  all: unset;
}

li {
  list-style-type: none;
}

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
