:root {
  --humidity: 75;
  --visibility: 28;
  --pressure: 761;

  --dark-color: #202020;

  --light-color: #F5F4F4;

  --font-weight-regular: 400;
  --font-size-base: 20px;
  --line-height-base: 24px;

  --font-weight-bold: 700;
  --font-size-lg: 24px;
  --font-height-lg: 32px;
}
